/**
  * @name Dark+
  * @author DevEvil
  * @version Dark+5
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @donate https://devevil.com/dnt
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #000000;
  --darkplus-bg2: #101010;
  --darkplus-sec: #212121;
  --darkplus-links: #303030;
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 50%;
  --watermark-filter-contrast: 200%;
}
